{% extends "stampo.htm" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                Now playing: {%if currentsong %}{{currentsong.name}} {%if user.isAdmin == True %} Ciao ciao
                {%endif%}{%else%}
                nothing. {%endif%}
            </div>
        </div>
        <p class="lead">
        <form action="/addSong" method="POST">
            <div class="form-group">
                <label for="song">To add a new song to the list, write the title below.</label>
                <input type="text" class="form-control" id="song" aria-describedby="song"
                       placeholder="Toto - Africa" name="song">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        </p>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Up next:
            </div>
            <ul class="list-group list-group-flush">
                {% for song in songs %}
                <li class="list-group-item">{{song.name}}</li>
                {%endfor%}
            </ul>
        </div>
    </div>
</div>
{%endblock%}